.search {
    /* background-color: white; */

    /* max-width: 800px;
    margin: 0 auto;
    height: 56px;
    margin-bottom: 30px; */
}
.search__input {
    /* height: 56px; */
}

.search__btn {
    /* height: 56px; */
}
