.header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;

    display: flex;
    align-items: center;
    text-decoration: none;
    // outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: var(--color-black);

    &__menu {
        display: flex;
    }
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-right: 27px;
        // outline: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.01em;
        color: var(--color-black);
    }

    &__link:last-of-type {
        margin-right: 10px;
    }

    &__link_active {
        font-weight: 700;
    }
    &__link:hover {
        font-weight: 700;
    }

    &__link-img {
        margin-right: 10px;
    }

    &__counter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border: 1px solid var(--color-black);
        border-radius: 50%;
        line-height: 1;
    }
}
