/* Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,regular,500,600,700,800,300);

* {
    box-sizing: border-box;
}

:root {
    --color-black: #121212;
    --color-white: #fafafa;
}

#root {
    font-family: "Open Sans", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-black);
}
